/* 声明字体图标,这里一定要注意路径的变化 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?79hchu');
    src:  url('../fonts/icomoon.eot?79hchu#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?79hchu') format('truetype'),
      url('../fonts/icomoon.woff?79hchu') format('woff'),
      url('../fonts/icomoon.svg?79hchu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

/* 版心 */
.w {
    /* 宽度 */
    width: 1200px;  
    /* 居中 */
    margin: 0 auto;
}
.f1 {
    /* 左浮动 */
    float: left;
}
.fr {
    /* 右浮动 */
    float: right;
}
.style_red {
    /* 颜色 */
    color: #c81623;
}
/* 快捷导航模块开始 */
.shortcut {
    /* 高度 */
    height: 31px;
    /* 背景颜色 */
    background-color: #f1f1f1;
}
.shortcut ul li {
    /* 左浮动 */
    float: left;
    /* 行高 */
    line-height: 31px;
}
/* 选择所有的偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    /* 宽度 */
    width: 1px;
    /* 高度 */
    height: 12px;
    /* 背景颜色 */
    background-color: #666;
    /* 定位位置 */
    margin: 9px 15px 0;
}
.arrow-icon::after {
    /* 添加字体图标 */
    content: '\e900';
    /* 调用字体 */
    font-family: 'icomoon';
    /* 距离左侧6px */
    margin-left: 6px;
}
/* 结束 */
/* 头部开始 */
.header {
    /* 相对定位 */
    position: relative;
    /* 高度 */
    height: 105px;
}
.logo {
    /* 绝对定位 */
    position: absolute;
    /* 距离头部距离 */
    top: 25px;
    /* 宽度 */
    width: 171px;
    /* 高度 */
    height: 61px;
}
.logo a {
    /* 转换为块级元素 */
    display: block;
    /* 宽度 */
    width: 171px;
    /* 高度 */
    height: 61px;
    /* 添加图片 */
    background: url(../images/logo.png)no-repeat;
    /* 让字体不显示 */
    /* font-size: 0;  京东的做法 */
    /* 淘宝的做法 */
    text-indent: -9999px;
    /* 溢出隐藏 */
    overflow: hidden; 
}
.search {
    /* 相对定位 */
    position: absolute;
    /* 距离左侧 */
    left: 346px;
    /* 距离头顶 */
    top: 25px;
    /* 宽度 */
    width: 538px;
    /* 高度 */
    height: 36px;
    /* 盒子大小颜色 */
    border: 2px solid #b1191a;
}
.search input {
    /* 左浮动 */
    float: left;
    /* 宽度 */
    width: 454px;
    /* 高度 */
    height: 36px;
    /* 距离盒子左侧 */
    padding-left: 10px;
}
.search button {
    /* 左浮动 */
    float: left;
    /* 宽度 */
    width: 84px;
    /* 高度 */
    height: 36px;
    /* 背景颜色 */
    background-color: #b1191a;
    /* 字体大小 */
    font-size: 16px;
    /* 字体颜色 */
    color: #fff;
}
.hotwords {
    /* 相对定位 */
    position: absolute;
    /* 距离头顶 */
    top: 66px;
    /* 距离左侧 */
    left: 346px;
}
.hotwords a {
    /* 上下距离0左右10px */
    margin: 0 10px;
}
.shopcar {
    /* 相对定位 */
    position: absolute;
    /* 距离右侧 */
    right: 60px;
    /* 距离头顶 */
    top: 25px;
    /* 宽度 */
    width: 140px;
    /* 高度 */
    height: 35px;
    /* 行高 */
    line-height: 35px;
    /* 居中对齐 */
    text-align: center;
    /* 边框 */
    border: 1px solid #dfdfdf;
    /* 边框内的背景颜色 */
    background-color: #f7f7f7;
}
    /* 插入到头部 */
.shopcar::before {
    content: '\e907';
    /* 调用字体 */
    font-family: 'icomoon';
    /* 距离右侧 */
    margin-right: 5px;
    /* 修改图标颜色 */
    color: #b1191a;
}
    /* 插入到尾部部 */
.shopcar::after {
    content: '\e902';
    /* 调用字体 */
    font-family: 'icomoon';
    /* 距离左侧 */
    margin-left: 10px;
}
.count {
    /* 相对定位 */
    position: absolute;
    /* 距离头部 */
    top: -5px;
    /* 距离左侧 */
    left: 105px;
    /* 高度 */
    height: 14px;
    /* 行高 */
    line-height: 14px;
    /* 颜色 */
    color: #fff;
    /* 背景颜色 */
    background-color: #e60012;
    /* 距离 */
    padding: 0 5px;
    /* 一个角三个圆 */
    border-radius: 7px 7px 7px 0;
}
/* 结束 */
/* nav导航开始 */
.nav {
    /* 高度 */
    height: 47px;
    /* 下边框 */
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
    /* 左浮动 */
    float: left;
    width: 210px;
    height: 47px;
    background-color: #b1191a;
}
.nav .navitems {
    /* 左浮动 */
    float: left;
}
.dropdown .dt {
    /* 宽度 */
    width: 100%;
    /* 高度 */
    height: 100%;
    /* 颜色 */
    color: #fff;
    /* 文字居中对齐 */
    text-align: center;
    /* 行高 */
    line-height: 47px;
    /* 字体大小 */
    font-size: 16px;
    margin-top: 2px;
}
.dropdown .dd {
    /* 隐藏
    display: none; */
    /* 宽度 */
    width: 210px;
    /* 高度 */
    height: 465px;
    /* 背景颜色 */
    background-color: #c81623;
    /* 距离顶部2px */
}
.dropdown .dd ul li {
    /* 相对定位 */
    position: relative;
    /* 高度 */
    height: 31px;
    /* 行高 */
    line-height: 31px;
    /* 距离左侧距离 */
    margin-left: 2px;
    /* 距离盒子内左侧距离 */
    padding-left: 10px;
}
.dropdown .dd ul li:hover {
    /* 背景颜色 */
    background-color: #999999;
}
.dropdown .dd ul li::after {
    /* 绝对定位 */
    position: absolute;
    /* 距离顶部 */
    top: 1px;
    /* 距离右侧 */
    right: 10px;
    /* 颜色 */
    color: #fff;
    /* 字体格式 */
    font-family: 'icomoon';
    /* 字体图标 */
    content: '\e902';
    /* 字体大小 */
    font-style: 14px;
}
.dropdown .dd ul li a {
    /* 字体大小 */
    font-style: 14px;
    /* 颜色 */
    color: #fff;
}
.dropdown .dd ul li a:hover {
    /* 颜色 */
    color: #c81623;
}
.navitems ul li {
    /* 左浮动 */
    float: left;
}
.navitems ul li a {
    /* 转换为块元素 */
    display: block;
    /* 高度 */
    height: 47px;
    /* 行高 */
    line-height: 47px;
    /* 字体大小 */
    font-size: 16px;
    /* 盒子距离上下0 左右各25px */
    padding: 0 25px;
}
/* 结束 */
/* footer模块开始 */
.footer {
    /* 高度 */
    height: 415px;
    /* 背景颜色 */
    background-color: #f5f5f5;
    /* 距离盒子内部顶部 */
    padding-top: 30px;
}
.mod_service {
    /* 高度 */
    height: 80px;
    /* 盒子下边框 */
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    /* 左浮动 */
    float: left;
    /* 宽度 */
    width: 210px;
    /* 高度 */
    height: 79px;
    /* 距离盒子左侧距离 */
    padding-left: 30px;
}
.mod_service ul li h5 {
    /* 左浮动 */
    float: left;
    /* 宽度 */
    width: 50px;
    /* 高度 */
    height: 50px;
    /* 添加精灵图 */
    background: url(../images/icons.png) no-repeat;
    /* 定位精灵图的某一张图 */
    background-position: -252px -2px;
    /* 距离右侧 */
    margin-right: 8px;
}
.mod_service .l2 h5 {
    /* 添加精灵图 */
    background: url(../images/icons.png) no-repeat;
    /* 定位精灵图的某一张图 */
    background-position: -255px -54px;
}
.mod_service .l3 h5 {
    /* 添加精灵图 */
    background: url(../images/icons.png) no-repeat;
    /* 定位精灵图的某一张图 */
    background-position: -257px -106px;
}
.mod_service .l4 h5 {
    /* 添加精灵图 */
    background: url(../images/icons.png) no-repeat;
    /* 定位精灵图的某一张图 */
    background-position: -258px -157px;
}
.mod_service .l5 h5 {
    /* 添加精灵图 */
    background: url(../images/icons.png) no-repeat;
    /* 定位精灵图的某一张图 */
    background-position: -258px -209px;
}
.service_text  p {
    font-size: 12px;
}
.mod_help {
    /* 高度 */
    height: 185px;
    /* 盒子底边框 */
    border-bottom: 1px solid #ccc;
    /* 距离盒子顶部 */
    padding-top: 20px;
    /* 距离盒子左侧 */
    padding-left: 50px;
}
.mod_help dl {
    /* 左浮动 */
    float: left;
    /* 宽度 */
    width: 200px;
}
/* 选择dl中的最后一个 */
.mod_help dl:last-child {
    /* 宽度 */
    width: 90px;
    /* 文字水平居中 */
    text-align: center;
}
.mod_help dl dt {
    /* 文字大小 */
    font-size: 16px;
    /* 距离下面的文字距离 */
    margin-bottom: 10px;
}
.mod_copyright {
    /* 文字居中对齐 */
    text-align: center;
    /* 距离盒子顶部 */
    padding-top: 20px;
}
.links {
    /* 距离盒子内下边框距离 */
    margin-bottom: 15px;
}
.links span {
    /* 左右各加5px的距离 */
    margin: 0 5px;
}
.copyright {
    /* 行高 */
    line-height: 20px;
}
/* 结束 */