.w {
    /* 宽度 */
    width: 1200px;
    /* 居中 */
    margin: 0 auto;
}
header {
    /* 高度 */
    height: 84px;
    /* 下边框 */
    border-bottom: 2px solid #c81523;
}
.logo {
    /* 距离顶部 */
    padding-top: 18px;
}
.registerarea {
    /* 距离顶部 */
    margin-top: 20px;
    /* 高度 */
    height: 522px;
    /* 边框 */
    border: 1px solid #ccc;
}
.registerarea h3 {
    /* 高度 */
    height: 42px;
    /* 下边框 */
    border-bottom: 1px solid #ccc;
    /* 背景颜色 */
    background-color: #ececec;
    /* 行高 */
    line-height: 42px;
    /* 左右10px */
    padding: 0 10px;
    /* 字体大小 */
    font-size: 18px;
    /* 不加粗 */
    font-weight: 400;
}
.registerarea h3 a {
    /* 颜色 */
    color: #c81523;
}
.login {
    /* 右浮动 */
    float: right;
    /* 字体大小 */
    font-size: 14px;
}
.reg-form {
    /* 宽度 */
    width: 600px;
    /* 距离顶部50，居中，下边0 */
    margin: 50px auto 0;
}
.reg-form ul li {
    /* 距离底部 */
    margin-bottom: 20px;
}
.reg-form ul li label {
    /* 转换为行内快元素 */
    display: inline-block;
    /* 宽度 */
    width: 88px;
    /* 文字右对齐 */
    text-align: right;
}
.reg-form ul li .inp {
    /* 宽度 */
    width: 242px;
    /* 高度 */
    height: 37px;
    /* 边框 */
    border: 1px solid #ccc;
}
.agree {
    /* 距离右侧距离 */
    padding-left: 95px;
}
.agree input {
    /* 垂直对齐 */
    vertical-align: middle;
}
.agree a {
    /* 颜色 */
    color: #1ba1e6;
}
.btn {
    /* 宽度 */
    width: 200px;
    /* 高度 */
    height: 34px;
    /* 背景颜色 */
    background-color: #c81623;
    /* 字体大小 */
    font-size: 14px;
    /* 颜色 */
    color: #fff;
    /* 距离 */
    margin: 30px 0 0 100px;
}
.mod_copyright {
    /* 文字居中对齐 */
    text-align: center;
    /* 距离盒子顶部 */
    padding-top: 20px;
}
.links {
    /* 距离盒子内下边框距离 */
    margin-bottom: 15px;
}
.links span {
    /* 左右各加5px的距离 */
    margin: 0 5px;
}
.copyright {
    /* 行高 */
    line-height: 20px;
}